#TopBar {
   background-color: var(--main-bg-color);
   color: white;
   font-size: var(--title-font-size);
   height: var(--top-bar-height);
   width: 100%;
   display: flex;
   flex-direction: row;
}

#ProfileDropdown {
   margin-left: auto;
   margin-right: 25px;
}
#TopBarHeader {
   display: flex;
}

#CloudHavenLogo {
   display: inline-block;
   position: absolute;
   height: 40px;
   width: 40px;
   color: white;
   vertical-align: auto;
   margin-top: 5px;
}

#CloudHavenHeaderText {
   display: inline-block;
   color: white;
   vertical-align: center;
   margin-left: 50px;
   font-size: var(--large-font-size);
}

a:hover {
   text-decoration: none;
}

@media only screen and (max-width: 600px) {
   #CloudHavenHeaderText {
      display: none
   }
}