@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

.Tabs {
    background-color: var(--tab-color);
    font-family: 'Roboto', sans-serif;
}

.nav-item {
    width: calc(100% / 3);
    background-color: var(--tab-color);
    color: black;
    text-align: center;
    font-size: var(--medium-font-size);
}

.Tabs > .nav-link.active {
    background-color: #73A8C0;
    color: black;
    border-radius: 20px;
    border: none;
}

.Tabs > .nav-link:hover {
    color: black;
    border-radius: 20px;
    border: none;
}

.TabIcon {
    position: relative;
    bottom: .1em;
}
