:root {
    /* colors */
    --main-bg-color: #37718E;
    --notif-color: #C33C54;
    --top-bar-bg-color: #37718E;
    --tab-color: #BCEAFF;

    --gray-accent-color: #C4C4C4;

    /* font sizes */
    --small-font-size: 12px;
    --medium-font-size: 24px;
    --large-font-size: 36px;
    --title-font-size: 58px;
}

#App {
   display: flex;
   flex-direction: row;
   background-color: var(--gray-accent-color);
   font-family: "Roboto";
}

#PageFrame {
   height: 100%;
   width: 100%;
   border: 40px var(--main-bg-color);
   border-left-style: solid;
   background-color: var(--main-bg-color);
   border-top-left-radius: 30px;
}

#MainContent {
   width: 100%;
   height: calc(100vh - 104px);
   background-color: white;
   border-top-left-radius: 20px;
   display: block;
   overflow: auto;
}
