#App {
   display: flex;
   flex-direction: row;
   background-color: #C4C4C4;
   font-family: "Roboto";
}

#SidebarMenu {
   width: 74px;
}

.PageFrame {
   height: 100%;
   width: calc(100vw - 74px);
   border: 40px #37718E;
   border-left-style: solid;
   background-color: #37718E;
   border-top-left-radius: 30px;
   transition: 0.5s;
}

.PageFrame-open {
   width: calc(100vw - 300px);
   transform: translateX(226px);

}

#MainContent {
   width: 100%;
   height: calc(100vh - 104px);
   background-color: white;
   border-top-left-radius: 20px;
   display: block;
   overflow: auto;
}